<div class="container">
<div class="row">
    <div class="col-4 "></div>
    <div class="col-4 "><h1 style="color: black;">SBI</h1></div>
    <div class="col-4 "></div>
</div>
<div>
<form [formGroup]="loginform">
<div class="mb-3">
  <label for="exampleInputEmail1" class="form-label" >Account No</label>
  <input type="text" formControlName="accn"  name="accn" class="form-control " id="acn" aria-describedby="emailHelp">
  <div *ngIf="this.loginform.get('accn')?.touched&&this.loginform.get('accn')?.errors" class="form-text">invalid accoutnumber</div>
</div>
<div class="mb-3">
  <label for="exampleInputPassword1" class="form-label" >Password</label>
  <input type="password" formControlName="passw" name="passw" class="form-control" id="psw">
  <div *ngIf="this.loginform.get('passw')?.touched&&this.loginform.get('passw')?.errors" class="form-text">invalid password</div>
</div>
<div class="mb-3 form-check">
  <input type="checkbox" class="form-check-input" id="exampleCheck1">
  <label class="form-check-label" for="exampleCheck1">Check me out</label>
</div>
<button type="button" class="btn btn-primary" (click)="login()">Submit</button>
<a routerLink="register">Registration</a>

</form>
</div>
</div>
